@{
    String Email = Context.Session.GetString("EMAIL");
    ViewData["Title"] = "OrderDetail";
    BusinessObjects.Order Order = ViewData["Order"] != null ? (BusinessObjects.Order)ViewData["Order"] : new BusinessObjects.Order();
    List<BusinessObjects.OrderDetail> OrderDetails = ViewData["OrderDetails"] != null ? (List<BusinessObjects.OrderDetail>)ViewData["OrderDetails"] : new List<BusinessObjects.OrderDetail>();
}

<h1>Order Detail</h1>

<div class="row">
    <div class="col-md-4">
        <h4 class="text-primary">Order</h4>
        <dl class="row">
            <dt class="col-sm-4">
                Order Id
            </dt>
            <dd class="col-sm-8">
                @Order.OrderID
            </dd>
            <dt class="col-sm-4">
                Ordered Date
            </dt>
            <dd class="col-sm-8">
                @Order.OrderDate
            </dd>
            <dt class="col-sm-4">
                Shipped Date
            </dt>
            <dd class="col-sm-8">
                @Order.ShippedDate
            </dd>
            <dt class="col-sm-4">
                Freight
            </dt>
            <dd class="col-sm-8">
                @Order.Freight
            </dd>
        </dl>
        <hr />
        <h4 class="text-success">Member</h4>
        <dl class="row">
            <dt class="col-sm-4">
                Name
            </dt>
            <dt class="col-sm-4">
                Email
            </dt>
            <dd class="col-sm-8">
                @Order.Member.Email
            </dd>
            <dt class="col-sm-4">
                City
            </dt>
            <dd class="col-sm-8">
                @Order.Member.City
            </dd>
            <dt class="col-sm-4">
                Country
            </dt>
            <dd class="col-sm-8">
                @Order.Member.Country
            </dd>
        </dl>
    </div>
    <div class="col-md-8">
        <h4 class="text-danger">Items</h4>
        <table class="table">
            <thead>
                <tr class="bg-dark text-white">
                    <th>
                        Name
                    </th>
                    <th>
                        Unit Price
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Discount
                    </th>
                    <th>
                        Total
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in OrderDetails)
                {
                    <tr>
                        <td>
                            @item.Product.ProductName
                        </td>
                        <td>
                            @item.UnitPrice
                        </td>
                        <td>
                            @item.Quantity
                        </td>
                        <td>
                            @item.Discount
                        </td>
                        <td>
                            @((item.UnitPrice - item.Discount) * item.Quantity)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div>
    <span><a>Edit</a> |</span>
    <a asp-action="Index">Back to List</a>
</div>


